body {
  padding: 0%;
  margin: 0%;
  background-color: #1f1f1f;
}

/* ----------------------------------------FONT---------------------------------------- */

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
    url(../font/Press_Start_2P/PressStart2P-Regular.ttf) format(TrueType);
}

@font-face {
  font-family: "Lexend Deca";
  src: local("Lexend Deca"),
    url(../font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format(TrueType);
}

.lexend {
  font-family: Lexend Deca;
  font-size: 18px;
}

.player2p {
  font-family: PressStart2P;
  color: #1f1f1f;
  text-decoration: none;
}

/* ----------------------------------------HEADER---------------------------------------- */

header {
  background-color: #fac900;
  width: 100%;
  height: 8rem;
  display: flex;
  position: relative;
}

.logo1 {
  position: absolute;
  left: 2%;
}

/* ----------------------------------------HAUT HEADER---------------------------------------- */

.droite {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0.5rem 0;
}

.haut {
  display: flex;
  justify-content: flex-end;
  height: 50%;
  padding-right: 1%;
}

.fa-circle-user {
  font-size: 2rem;
  color: #1f1f1f;
}

/* ----------------------------------------BAS HEADER---------------------------------------- */

.bas {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  flex: 1;
}

.categorie {
  width: 80%;
  min-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.search {
  background-color: #1f1f1f;
  border-radius: 20;
  width: 12rem;
  min-width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.search > input {
  background-color: #1f1f1f;
  font-family: Lexend Deca;
  border: none;
  width: 6rem;
  height: 2rem;
}

.fa-magnifying-glass,
.fa-bars,
.search > input {
  color: white;
}

/* ----------------------------------------MAIN---------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
  height: 90rem;
  font-family: Lexend Deca;
  font-size: 18px;
}

/* ----------------------------------------MAIN HAUT----------------------------------- */

.main1 {
  display: flex;
  width: 100%;
  height: 40%;
}

/* ----------------------------------------MAIN HAUT GAUCHE---------------------------- */

.main1-gauche {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  height: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.vote {
  background-color: #6db4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  gap: 10px;
  border-radius: 10px;
  position: relative;
}

.vote > div {
  position: absolute;
  left: 20px;
}

.vote-submit {
  border: none;
  border-radius: 5px;
  font-family: Lexend Deca;
  width: 6rem;
  height: 1.5rem;
}

.main1-gauche-bas {
  display: flex;
  width: 100%;
  height: 50%;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 2rem;
}

.windows {
  background-color: #fac900;
  border: none;
  border-radius: 10px;
  width: 12rem;
  height: 2.5rem;
  box-shadow: 2px 2px 2px 1px rgba(225, 181, 0, 0.1);
}

.mac {
  background-color: #6db4fd;
  border: none;
  border-radius: 10px;
  width: 12rem;
  height: 2.5rem;
  box-shadow: 2px 2px 2px 1x rgba(98 162 228 0.1);
}

.emoji-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.emoji-repo > img {
  width: 75%;
}

/* ----------------------------------------MAIN HAUT DROITE---------------------------- */

.main1-droite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63%;
  height: 100%;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.news {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 92%;
  gap: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.nouveauté {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-name: animations;
  animation-iteration-count: infinite;
}

.nouveauté > img {
  border-radius: 15px;
}

@keyframes animations {
  0% {
    transform: translateX(0);
  }
  33.3% {
    transform: translateX(-70%);
  }
  66.6% {
    transform: translateX(-140%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ----------------------------------------MAIN MID----------------------------------- */

.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13.3%;
  padding-top: 3rem;
}

.main2 > div {
  background-color: #fac900;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;
  height: 97%;
  padding: 0 1rem 0 1rem;
}

/* ----------------------------------------MAIN BAS----------------------------------- */

.main3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40%;
}

iframe {
  width: 790px;
  height: 385px;
}

/* ----------------------------------------FOOTER----------------------------------- */

footer {
  background-color: #6db4fd;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 45rem;
  padding: 5% 0 0 2%;
}

/* ----------------------------------------FOOTER HAUT----------------------------------- */

.footer1 {
  display: flex;
  width: 100%;
  height: 60%;
}

.logo2 {
  width: 30%;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
}

.categorie-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

/* ----------------------------------------FOOTER MID----------------------------------- */

.footer2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  gap: 10px;
}

.newsletter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0e0e0e solid 2px;
  background-color: #fac900;
  height: 3rem;
  width: 23rem;
  border-radius: 20px;
}

.email {
  color: #0e0e0e;
  background-color: #fac900;
  width: 15rem;
  height: 1.5rem;
  border: none;
}

.submit {
  font-family: Lexend Deca;
  width: 6rem;
  height: 1.88rem;
  color: #0e0e0e;
  background-color: #fac900;
  border: none;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 100%;
}

.fa-x-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-youtube,
.fa-twitch {
  font-size: 2rem;
  color: #1f1f1f;
}

.footer3 {
  width: 100%;
  position: relative;
}

/* ----------------------------------------FOOTER BAS----------------------------------- */

.footer3 > div {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  position: absolute;
  left: 12rem;
  font-family: Lexend Deca;
  font-size: 15px;
  color: #0e0e0e;
  text-decoration: none;
}
