body {
  padding: 0%;
  margin: 0%;
  background-color: #1f1f1f;
}

/* ----------------------------------------FONT---------------------------------------- */

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
    url(../font/Press_Start_2P/PressStart2P-Regular.ttf) format(TrueType);
}

@font-face {
  font-family: "Lexend Deca";
  src: local("Lexend Deca"),
    url(../font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format(TrueType);
}

.lexend {
  font-family: Lexend Deca;
  font-size: 18px;
}

.player2p {
  font-family: PressStart2P;
  color: #1f1f1f;
  text-decoration: none;
}

/* ----------------------------------------HEADER---------------------------------------- */

header {
  background-color: #fac900;
  width: 100%;
  height: 8rem;
  display: flex;
  position: relative;
}

.logo1 {
  position: absolute;
  left: 2%;
}

/* ----------------------------------------HAUT HEADER---------------------------------------- */

.droite {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0.5rem 0;
}

.haut {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}

.fa-circle-user {
  font-size: 2rem;
  color: #1f1f1f;
}

/* ----------------------------------------BAS HEADER---------------------------------------- */

.bas {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  flex: 1;
}

.categorie {
  width: 80%;
  min-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.search {
  background-color: #1f1f1f;
  border-radius: 20;
  width: 12rem;
  min-width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.search > input {
  background-color: #1f1f1f;
  font-family: Lexend Deca;
  border: none;
  width: 6rem;
  height: 2rem;
}

.fa-magnifying-glass,
.fa-bars,
.search > input {
  color: white;
}

/* ----------------------------------------MAIN----------------------------------- */

main {
  font-family: Lexend Deca;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 0 5% 0;
}

main > section {
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.authentification1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}

.authentification2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 12rem;
  padding: 5rem 0 2rem 0;
  gap: 2rem;
}

.authentification2 > a {
  background-color: #fac900;
  color: #0b0b0b;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 3rem;
  border-radius: 5px;
}

.authentification3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 3rem;
  padding-bottom: 5%;
}

.authentification3 > a {
  color: #6db4fd;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 15%;
}

/* ----------------------------------------FOOTER----------------------------------- */

footer {
  background-color: #6db4fd;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 45rem;
  padding: 5% 0 0 2%;
}

/* ----------------------------------------FOOTER HAUT----------------------------------- */

.footer1 {
  display: flex;
  width: 100%;
  height: 60%;
}

.logo2 {
  width: 30%;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
}

.categorie-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

/* ----------------------------------------FOOTER MID----------------------------------- */

.footer2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  gap: 10px;
}

.newsletter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fac900;
  height: 3rem;
  width: 23rem;
  border-radius: 20px;
}

.email {
  color: #0e0e0e;
  background-color: #fac900;
  width: 15rem;
  height: 1.5rem;
  border: none;
}

.submit {
  font-family: Lexend Deca;
  width: 6rem;
  height: 1.88rem;
  color: #0e0e0e;
  background-color: #fac900;
  border: none;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 100%;
}

.fa-x-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-youtube,
.fa-twitch {
  font-size: 2rem;
  color: #1f1f1f;
}

.footer3 {
  width: 100%;
  position: relative;
}

/* ----------------------------------------FOOTER BAS----------------------------------- */

.footer3 > div {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  position: absolute;
  left: 12rem;
  font-family: Lexend Deca;
  font-size: 15px;
  color: #0e0e0e;
  text-decoration: none;
}
